/* import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* pseudo-element */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-margin: 1rem;
  --primary-color: rgb(0, 68, 255);
  --gray: rgb(133, 133, 133);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button,
button:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

button:active {
  outline: none;
  background: transparent;
  border: 1px solid var(--gray);
}

nav {
  display: flex;
  flex-direction: row;
  /* main axis */
  justify-content: space-between;
  /* secondary axis */
  align-items: center;
  /* top right bottom left */
  margin: 0.5rem;
  font-size: 0.6rem;
}

.links {
  display: flex;
  gap: 2.5rem;
}

.logo {
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-grow: 2;
  gap: 2rem;
  align-items: center;
  color: var(--gray);
}

.nav-link a {
  color: var(--gray);
  text-decoration: none;
}

.nav-link a:hover {
  color: black;
  transition: color 100ms ease-in-out;
}

.button-contact {
  border: 1px solid var(--gray);
  border-radius: 1rem;
  font-size: 1em;
  color: var(--gray);
  padding: 0.4rem 1rem;
}

.button-contact:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
  cursor: pointer;
}

.logo {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

.material-symbols-outlined {
  color: var(--gray);
}

.material-symbols-outlined:hover {
  color: black;
  transition: color 100ms ease-in-out;
}

.test-container {
  width: max(100%, calc(6 * var(--default-margin)));
  height: max(100px, 200px);
  background-image: linear-gradient(
    0deg,
    #cf5c5c,
    #c19b4a,
    #def2a0,
    #c6ee4a,
    #42eca6,
    #64b3d9,
    #208ea2,
    #498ada,
    #5b73df,
    #897ed3,
    #cf5c5c,
    #c19b4a
  );
  background-size: 100% 1100%;
  animation: color-change 10s ease-in-out infinite alternate-reverse;
}

/* Media Queries */
@media screen and (max-width: 400px) {
  :root {
    font-size: 8px;
  }

  .logo {
    font-size: 8px;
  }
}

/* Animation */
@keyframes color-change {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
